* {
    box-sizing: border-box;
}
body{ 
  display:flex; 
  flex-direction:column; 
  background-color: black;
}

header{
  background-color: black;
  min-height: 40px;
  margin-bottom: auto
}

footer{
  bottom: 0;
  margin-top: 1rem;
  background-color: black;
  min-height: 40px;
}

/*sections*/
.topRow {
  display: flex;
  justify-content:start;
  align-content: center;
  max-height: 100vh;
  margin-bottom: 1rem;
}
#transportation, #fortification, #research, #intervention {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  background-color: rgb(74, 81, 145);
  background-size: cover;
  background-position: center;
  border: 3px solid white;
  min-width: 220px;
  max-width: 220px;
  min-height: 700px;
  margin-bottom: 1rem;
}

#transportation {
  background-image: url(../images/transportation.jpg);
}

#fortification {
  background-image: url(../images/fortification.jpg);
}

#research {
  background-image: url(../images/research.jpg);
}

#intervention {
  background-image: url(../images/intervention.jpg);
}

#transportation > h2, #fortification > h2, #intervention > h2 {
  margin: 0 auto;
}

#research > h2 {
  margin: 0 28% 0 28%;
}

#syndicate{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  background-color: rgba(56, 48, 48, 0.493);
  background-image: url(../images/wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border: 3px solid white;
  min-width: 1000px; 
  min-height: 700px;
  max-height: 750vh; 
  margin-bottom: 1rem; 
}

.syndicateMember{
  background-color: brown;
  background-image: url('../images/banner.png');
  background-size: contain;
  background-repeat: no-repeat;
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 100px;
  min-height: 250px;
}

.syndicateMember:hover {
  cursor: pointer;
  border: 2px solid rgb(226, 179, 23);
}

.syndicateMember:active {
  cursor: pointer;
  border: 2px solid rgb(116, 91, 9);
  background-color: rgb(139, 36, 36);
}

.memberName{
  font-family: 'Water Brush', sans-serif;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 1.5em;
  padding-bottom: 123px;

}

.memberImg{
  position: absolute;
  padding-top: 20px;
  transform: scale(0.5, 0.5);
}

.reward{
  font-family: 'Cinzel', serif;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-align: center;
  max-width: 100px;
}

h1{
  font-family: 'Cinzel', serif;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 2em;
}

h2{
  font-family: 'Cinzel', serif;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 1em;
}

#rewardsListTitle {
  text-align: center;
}

.rewardLister {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-content: center;
  gap: 3rem;
  border: 1px solid white;
  padding: 1rem;
}

.rewardListItem {
  color:white;
}




